@media (min-width: 769px) {
    .login-bar {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .login-bar {
        width: 65%;
    }
}

.login-bar {
    background-color: #e1e1e1;
    border-radius: 10px;
    padding: 40px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.password-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sign-in-button {
    margin-top: 10px;
    width: 110%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.alert {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    color: white;
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dc3545;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.alert slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.alert slideDown {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
}

@keyframes slideUp {
    from {
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
}
